body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#grid-container {
    display: grid;
    grid-template: 1fr 5fr / 1fr;
    min-height: 100vh;
}

header {
    box-shadow: 2px 3px 5px rgb(233, 231, 228);
    z-index: 1;
    display: flex;
    justify-content: center;
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

#logo-container {
    display: flex;
    flex-direction: column;
    gap: .35rem;
    width: max-content;
    justify-content: center;
}

#logo {
    font-size: 4rem;
    font-weight: bold;
}

.gradient {
    background-image: linear-gradient(60deg, #00f2ff, #00ff95);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

#underline {
    height: .25rem;
    border-radius: 10px;
    background-clip: initial;
    -webkit-background-clip: initial;
}

#newbook {
    width: 3.5rem;
    height: 3.5rem;
    outline: none;
    border: none;
    border-radius: 2rem;
    background-color: #00d0ff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2px 2px rgb(204, 235, 247);
}

#newbook > .gradient {
    background-image: linear-gradient(75deg, #00ffff, #00ffc3);
    font-size: 3rem;
} 

main {
    background-color: #f9f7f7;
    padding: 2.5rem 0rem;
    display: flex;
    justify-content: center;
}

#book-grid {
    display: grid;
    min-height: 100%;
    width: 60%;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 1rem;
}

.card {
    background-image: linear-gradient(120deg, #00f2ff, #00ff95);
    border-radius: 10px;
    background-clip: initial;
    -webkit-background-clip: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card.gradient .content {
    -webkit-text-fill-color: initial;
    color: black;
    font-weight: 700;
    font-size: 1.3rem;
}

.card.gradient button {
    -webkit-text-fill-color: initial;
    font-weight: 700;
    width: 5rem;
    color: black;
    border: 1px solid rgb(142, 212, 211);
    border-radius: 5px;
}

#modal {
    padding: 1rem;
    width: 17rem;
    height: 21rem;
}

#modal::backdrop {
    
}

#modal-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 10fr 1fr;
    gap: 1rem;
    justify-items: center;
}

#modal-container h3 {
    grid-column: 1 / 3;
    justify-self: center;
    position: fixed;
}

.close-modal {
    grid-column: 2 / 3;
    height: 50%;
}

.modal-input {
    border-radius: 5px;
    width: 100%;
    height: 75%;
    grid-column: 1 / 3;
}

#book {
    grid-row: 2 / 2;
}

#author {
    grid-row: 3 / 3;
}

#pages {
    grid-row: 4 / 4;
}

#checkbox-container {
    grid-row: 5 / 5;
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    gap: .25rem;
    align-items: center;
}

.submit {
    grid-column: 1 / 3;
    width: 75%;
}